.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #6BE1FF;
    width: 100vw;
    height: 50px;
}

.burger {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 15px;
    left: 15px;
    cursor: pointer;
    display: none;
}

@media only screen and (max-width: 768px) {
    .burger{
        display: block;
    }
}

