.wrapper{
    border-right: 1px solid #6B6B6B;
    height: 100vh;
    padding: 50px 0 0 20px;
}

.item{
    margin-bottom: 10px;
    cursor: pointer;
}

.link{
    color: #000000;
    font-size: 1.8rem;
}

.active{
    color: #0224FF;
}