.wrapper {
    border-right: 1px solid #6B6B6B;
    height: 100vh;
    padding: 50px 0 0 20px;
}

.item {
    margin-bottom: 10px;
    cursor: pointer;
}

.link {
    color: #000000;
    font-size: 1.8rem;
}

.active {
    color: #0224FF;
}

@media only screen and (max-width: 768px) {
    .wrapper {
        position: absolute;
        background-color: #ffffff;
        z-index: 1;
        padding-right: 15px;
        padding-top: 20px;
        transition: 1s;
        transform: translateX(-100%);
    }
    .active{
        transform: translateX(0);
    }
}